{% extends "tag/base.html" %}
{% block content %}
<head>
  <meta name="google-site-verification" content="VbvZDDqWN0u_14krSGUlZwMoTEmd1bbrQSu7Vlpwc5c" />
</head>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <!--<a class="mr-2" href="#">{{ tag.note }}</a>
<a class="mr-2" href="#">{{ tag.active }}</a>
<small class="text-muted">{{ tag.access_to_doors.all|join:", " }}</small> -->


<!--<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
  padding: 4px;
  text-align: left;
  width: 60%;
  }
  </style>
  <table tyle="width:1070px">
    <tr>
      <th>uid</th>
      <th>note</th>
      <th>doors</th>
      <th>actions</th>
    </tr>
    {% for tag in tags %}
    <tr>
      <td>{{ tag.uid }}</td>
      <td>{{ tag.note }}</td>
      <td>{{ tag.access_to_doors.all|join:", " }}</td>
      <td><a href="#">Edit&nbsp;</a><a href="#">Disable&nbsp;</a><a href="#">Log</a></td>
    </tr>
  </col>
    {% endfor %}
  </table> -->

  <div class="container">
    <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="test1" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width='200px'>
          <h5 class="card-title">Product</h5>
          <p class="card-text">{% for tag in tag_uid %} {{ tag.uid }} {% endfor %}</p>
          <a href="#" class="btn btn-primary">buy</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="test1" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width='200px'>
            <h5 class="card-title">Product</h5>
            <p class="card-text">{% for tag in tags %} {{ tag.uid }} {% endfor %}</p>
            <a href="#" class="btn btn-primary">buy </a>
          </div>
        </div>
      </div>
    
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="test1" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width='200px'>
            <h5 class="card-title">Product</h5>
            <p class="card-text">{% for tag in tags %} {{ tag.uid }} {% endfor %}</p>
            <a href="#" class="btn btn-primary">buy</a>
          </div>
        </div>
      </div>
    
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="test1" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width='200px'>
            <h5 class="card-title">Product</h5>
            <p class="card-text">{% for tag in tags %} {{ tag.uid }} {% endfor %}</p>
            <a href="#" class="btn btn-primary">buy</a>
          </div>
        </div>
      </div>
    
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="test1" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width='200px'>
            <h5 class="card-title">Product</h5>
            <p class="card-text">{% for tag in tags %} {{ tag.uid }} {% endfor %}</p>
            <a href="#" class="btn btn-primary">buy</a>
          </div>
        </div>
      </div>
    
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="test1" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width='200px'>
            <h5 class="card-title">Product</h5>
            <p class="card-text">{% for tag in tags %} {{ tag.uid }} {% endfor %}</p>
            <a href="#" class="btn btn-primary">buy</a>
          </div>
        </div>
      </div>
      
    
</div>
</div>
<style>
    .card{
        margin-top: 1.5em;     
      
          }
</style>
  
  
  

</article>
{% endblock content %}